
.input {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
    

label.label__event, label.label__description {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

input.input__event, input.input__description {
    width: 517px;
    border: 0;
    border-bottom: 1px solid #EEEEEE;
    outline:none;
}

input.input__edit {
    width: 380px;
    border: 0;
    border-bottom: 1px solid #EEEEEE;
    outline:none;
}

input.input__radio {
    display: flex;
    flex-direction: row;
}

label.label__radio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-left: 25px;
    
}

.radio__text {
    margin-left: 7px;
    margin-bottom: 12px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .input {
        font-size: 11px;
    }

    input.input__event, input.input__description {
        width: 450px;
    }

    .radio__text {
        margin-bottom: 8px;
    }
}

@media (max-width: 767px) and (min-width: 480px) {
    input.input__event, input.input__description {
        width: 80vw;
    }
}

@media (max-width: 479px) and (min-width: 320px) {
    input.input__event, input.input__description {
        width: 80vw;
    }
}