@import '@/style/MainStyle';

.btn {

    &__create {
        color: white;
        width: 180px;
        height: 38px;
        background: linear-gradient(94.4deg, #6A3093 0%, #A044FF 100%);
        border: 100px;
        border-radius: 100px;
        margin: 0 20px 0 30px;
        font-size: 14px;
    }

    &__other {
        width: 125px;
        height: 32px;
        background: linear-gradient(94.4deg, #6A3093 0%, #A044FF 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid rgba(106, 48, 147, 1);
        border-radius: 100px;
        font-size: 12px;
        margin-top: 7px;
    }

    &__time {
        width: 122px;
        height: 43px;

        color: black;

        background: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        border: 1px solid white;

        margin-right: 10px;
    }

    &__close {
        width: 180px;
        height: 38px;
        background: linear-gradient(94.4deg, #6A3093 0%, #A044FF 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid rgba(106, 48, 147, 1);
        border-radius: 100px;
        font-size: 14px;
    }

    &__item {

        font-weight: 600;
        line-height: 17px;

        &:hover {
            cursor: pointer
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .btn {
        &__time {
            margin-right: 8px;
        }
    }
}

@media (max-width: 767px) and (min-width: 480px) {
    .btn {
        &__time {
            margin-bottom: 10px;
        }

        &__create {
            margin: 0;
        }

        &__close {
            margin-top: 10px;
        }
    }
}

@media (max-width: 479px) and (min-width: 320px) {
    .btn {
        &__time {
            margin-bottom: 10px;
        }

        &__create {
            margin: 0;
        }

        &__close {
            margin-top: 10px;
        }
    }
}