.participants {
    
        &__content {
            display: flex;
        flex-direction: row;
    }

    &__user {
        height: 32px;
        margin-bottom: 15px;

       &-name {
        
            &-text {
                width: 450px;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                height: 20px;
                margin: 8px 0 0 10px;
            }
       }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .participants {
    &__user {
       &-name {
            &-text {
                font-size: 12px;
                margin: 6px 0 0 10px;
            }
       }
     }
    }
}