@import '@/style/MainStyle';

.edit {
    font-family: $font-stack;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    left: 0;

    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);

    &__content {
        
        border: 1px solid #AEAEAE;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
        width: 450px;
        height: 200px;
        border-radius: 40px;
        background-color: white;

        &-input {
            text-align: center;
        }

        &-close, &-change{
            margin-top: 15px;
            margin-left: 20px;
        }


        &_title {
            text-align: center;
        }
    }
}