$font-stack: 'Montserrat', sans-serif;
$buttonBackground: linear-gradient(94.4deg, #6A3093 0%, #A044FF 100%);

$textWeight: 500;
$textWeightHover: 600;
$textSize: 14px;
$textColor: #222222;

$buttonColorText: #FFFFFF;